<header>
    <nav class="navbar navbar-dark  bg-dark navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">MaxCalendar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <ul class="navbar-nav ms-auto ">
                    <li><a class="nav-link  " aria-current="page" href="{% url 'index' %}">Ana Sayfa</a>
                    </li>
                    <li><a class="nav-link" href="{% url 'scheduling' %}">Planlama</a></li>
                    <li><a class="nav-link" href="{% url 'about' %}">Hakkında</a></li>
                </ul>

            </div>
            <div>
                <ul class="navbar-nav ">

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="javascript:{document.getElementById('logout').submit()}"
                            class="nav-link">({{user.username}})
                            Çıkış Yap</a>
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {%csrf_token%}
                            <input type="hidden">
                        </form>
                    </li>
                    {% else %}
                    <li>
                        <a class="nav-link" href="{% url 'login' %}">Giriş Yap</a>
                    </li>
                    <li><a class="nav-link" href="{% url 'register' %}">Kayıt Ol</a>
                    </li>

                    {% endif %}

                </ul>
            </div>

        </div>
    </nav>
</header>